@model AxiomAdmin.ViewModel.HomeContextViewModel
@foreach (var item in Model.homeContexts)
{
    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-danger mb-3">

            <div class="card-body">
                <p class="card-text">
                    @Html.DisplayFor(model => item.Messages)
                </p>
                <h5 class="card-title">
                    @Html.DisplayFor(model => item.Name)
                </h5>
                <p>
                    @Html.DisplayFor(model => item.Title)
                </p>
                <a href="#" data-id="@item.Id" class="card-link edit-item-btn">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
            </div>
        </div>
    </div>
}

