@model IEnumerable<DMS.Models.BlogPost>

@{
	ViewData["Title"] = "Blog";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title Start -->
<section class="page-title title-bg21">
	<div class="d-table">
		<div class="d-table-cell">
			<h2>Blog</h2>
			<ul>
				<li>
					<a href="index.html">Home</a>
				</li>
				<li>Blog</li>
			</ul>
		</div>
	</div>
	<div class="lines">
		<div class="line"></div>
		<div class="line"></div>
		<div class="line"></div>
	</div>
</section>
<!-- Page Title End -->
<!-- Blog Section Start -->
<section class="blog-section blog-style-two pt-100 pb-70">
	<div class="container">
		<div class="section-title text-center">
			<h2>News, Tips & Articles</h2>
		</div>

		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-sm-6">
					<div class="blog-card">
						<div class="blog-img">
							<a asp-action="Details" asp-route-id="@item.Id">
								<img src="@Url.Content("~/assets/img/blog/"+item.FeaturedImageUrl)" alt="blog image" height="50%">
							</a>
						</div>
						<div class="blog-text">
							<ul>
								<li>
									<i class='bx bxs-user'></i>
									@Html.DisplayFor(model => item.Author)
								</li>
								<li>
									<i class='bx bx-calendar'></i>
									@Html.DisplayFor(model => item.PublishedDate)
								</li>
							</ul>

							<h3>
								<a asp-action="Details" asp-route-id="@item.Id">
									@Html.DisplayFor(model => item.Heading)
								</a>
							</h3>
							<p>
								@{
									var plainText = System.Text.RegularExpressions.Regex.Replace(item.Context, "<.*?>", ""); // Remove HTML tags
									var truncatedText = plainText.Length > 100 ? plainText.Substring(0, 100) + "..." : plainText;
									@Html.Raw(truncatedText)
								}
							</p>

							<a asp-action="Details" asp-route-id="@item.Id" class="blog-btn">
								Read More
								<i class='bx bx-plus bx-spin'></i>
							</a>
						</div>
					</div>
				</div>
			}
		</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
						<i class='bx bx-chevrons-left bx-fade-left'></i>
					</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link active" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">
						<i class='bx bx-chevrons-right bx-fade-right'></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</section>
<!-- Blog Section End -->
