@model AxiomAdmin.ViewModel.DirectorsContextsViewModel
@foreach (var item in Model.ListBoardOfDirectors)
{
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="@Url.Content("https://img.axiomindexing.com/assets/img/directors/"+item.ImageUrl)" alt="Card image cap" height="466" />
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(model => item.FullName)
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(model => item.Position)
                </p>
                <a href="#" data-id="@item.Id" class="card-link edit-item-btn">Edit</a>
                <a asp-action="Delete" asp-controller="BoardOfDirectorsContexts" asp-route-id="@item.Id" class="card-link">Delete</a>
            </div>
        </div>
    </div>
}
